* {
    margin: 0%;
}

body {
    /*overflow: hidden;*/
    font-family: 'Quicksand', sans-serif;
    color: white;
    height: 100vh;
    font-size: 20px;
}

.navigation-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #16b8f3;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.header {
    display: inline;
    font-size: 70px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0px 0px 10px 10px;
}

a {
    text-decoration: none;
}

.header span {
    color: orange;
}

.nav_button {
    color: #16b8f3;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 30px;
    background: white;
    border-radius: 5px;
    margin-right: 50px;
}

.nav_button:hover {
    color: #fff;
    background: orange;
    transition: background 0.2s, color 0.2s;
}

.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*height: 700px;*/
    padding-right: 10%;
}

.container {
    width: 350px;
    background-color: #16b8f3;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin: 18px;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 18px;
}

.input {
    font-size: 18px;
    width: 100%;
    padding: 14px 0px 14px 14px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    outline: none;
    box-sizing: border-box;
}

.input:focus {
    border-color: grey;
    background: #eae9e9;
}

input::placeholder {
    font-size: 18px;
}

.submit {
    width: 100%;
    padding: 18px 36px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: orange;
    margin-top: 25px;
}

.submit:hover {
    box-shadow: none;
    transition: background 0.5s;
    background: #FFBE00;
}

.submit:active {
    transition: transform 0.2s;
    transform: scale(0.99);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.links a:hover {
    text-decoration: underline;
}

.form_error {
    text-align: center;
    color: grey;
    margin-bottom: 5px;
}

.marginsign {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marginlogin {
    margin-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: auto;
}

.play {
    color: #16b8f3;
    text-decoration: none;
    font-size: 100px;
    background: white;
    border-radius: 5px;
    padding: 60px 45px;
}

.play:hover {
    color: #fff;
    background: orange;
    transition: background 0.8s, color 0.6s;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 40px;
    margin: 5% 20%;
    height: 500px;
    background: #16b8f3;
    border-radius: 15px;
}

.number {
    color: black;
}

.div_radio {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

/* .radio[type="radio"]{
    display: none;
}  */

/* .ball::before{
    display: inline-flex;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    content: "";
    width: 15px;
    height: 15px;
    position: relative;
    top: -10px;
}  */

#id_operation {
    padding: 0;
}

.elo {
    font-size: 50px;
    text-align: center;
}

.answer_container {
    /* display: flex; */
    /* align-items: space-between; */
    justify-content: center;
    width: auto;
    padding: 40px 40px 20px 40px;
    margin: 5% 30%;
    height: 370px;
    background: #16B8F3;
    border-radius: 15px;
}

.space {
    margin-top: 40px;
}

.answer {
    color: white;
    font-size: 30px;
}

.password_flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    margin-top: 100px;
}

.password_container {
    width: 350px;
    background-color: #16b8f3;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin: 18px;
    padding: 20px;
}

.test {
    margin-bottom: 20px;
    text-align: center;
}

.black {
    color: black;
}

/*table {*/
/*    border: solid;*/
/*    border: 10px;*/
/*    width: 100%;*/
/*}*/

/*tr {*/
/*    border: 1px solid black;*/

/*}*/

/*td {*/
/*    border: 1px solid black;*/

/*}*/

.games_flex {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

/* .games_image{
    width: 600px;
    height: 600px;
    background-image: url(undraw_studying_s3l7.svg) ;
    background-image: url(410px-Red_Silhouette_-_Brain.svg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px 600px;
    background-attachment: local;

}  */


.games_title {
    font-size: 50px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 166, 0);
    color: white;
    text-align: center;
}


.table_flex {
    width: 1000px;
    background-color: #16b8f3;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin: 18px;
    padding: 20px;
}


.details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_container {
    width: 1500px;
    background-color: #16b8f3;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin: 40px 18px 18px 18px;
    padding: 20px;

}

.details_container_small {
    width: 1200px;
}

.title {
    text-align: center;
    font-size: 50px;
}


table {
    border: 2px solid white;
    border-radius: 5px;
}

.ter {
    color: white;
    text-decoration: none;
}

td {
    width: 200px;
    text-align: center;
    font-size: 22px;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.nbt {
    border-top: none;
}

td:last-child {
    border-right: none;
}

.button {
    width: 30%;
    padding: 18px 36px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: orange;
    margin-left: 20px;
}

.button:hover {
    box-shadow: none;
    transition: background 0.5s;
    background: #FFBE00;
}

.button:active {
    transition: transform 0.2s;
    transform: scale(0.99);
}


.small_input {
    margin: 0px;
    width: 30%;
}

.big_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

.table_center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}