<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BrainMath{% endblock %} | BrainMath</title>
</head>
<body>
<h1>BrainMath</h1>
<menu>
    <li><a href="{% url 'register' %}">Sign Up</a></li>
    <li><a href="{% url 'log_in' %}">Log In</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'log_out' %}">Log Out</a></li>
        <li><a href="{% url 'change_password' user.id %}">Change password</a></li>
    {% endif %}
</menu>
{% block content %}
    <h2>Home</h2>
{% endblock %}
<br>Data: -----------------> {{ now }}<br>
Wersja: ---------------> {{ version }}
</body>
</html>