{% extends 'final_project_app/base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    {{ error }}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <p class="label-danger">{{ error|escape }}</p>
        {% endfor %}
    {% endif %}
    <div class="password_flex">
        <div class="password_container">
            <form method="post">
                {% csrf_token %}

                <div class="test"><p class="answer">Change Password</p></div>
                <p><label for="id_password">New password.</label> <input class="input" type="password" name="password"
                                                                         required id="id_password"></p>
                <p><label for="id_password_again">Repeat password.</label> <input class="input" type="password"
                                                                                  name="password_again" required
                                                                                  id="id_password_again"></p>
                <button type="submit" class="submit">Confirm options</button>
            </form>
        </div>
    </div>
    {#    <form method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        <input type="submit" value="Change password">#}
    {#    </form>#}
{% endblock %}