{% extends 'final_project_app/base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}
    <div class="flex">
        <div class="container">
            <form method="post" class="form" id="login">
                {% csrf_token %}
                <h1 class="title">Log In</h1>
                <div class="form_error">
                    {{ error }}
                </div>
                <div class="input-group">
                    <p><input required class="input marginsign" type="text" autofocus placeholder="Username"
                              name="login"
                              id="id_login">
                    </p>
                </div>
                <div class="input-group">
                    <p><input required class="input marginsign" autofocus type="password" placeholder="Password"
                              name="password"
                              id="id_password"></p>
                </div>
                <button type="submit" class="submit marginlogin">Continue</button>
                <p class="links">
                    <a href="{% url 'register' %}">Don't have an account? Sign up.</a>
                </p>
                {#        {{ form.as_p }}#}
            </form>
        </div>
    </div>
    {#    <input type="submit" value="Log in">#}

{% endblock %}