{% extends 'final_project_app/base.html' %}
{% block title %}Play{% endblock %}
{% block content %}
    What is {{ first }} {{ operator }} {{ second }}?
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ first }}" name="first">
        <input type="hidden" value="{{ operator }}" name="operator">
        <input type="hidden" value="{{ second }}" name="second">
        <input name="btn" type="submit" value="Check">
        <input name="btn" type="submit" value="Stop">
    </form>
{% endblock %}