{% extends 'final_project_app/base.html' %}
{% block title %}Choose options{% endblock %}
{% block content %}
    <h3>Game details</h3>
    <li>operator = {{ operator }}</li>
    <li>range1_min = {{ range1_min }}</li>
    <li>range1_max = {{ range1_max }}</li>
    <li>range2_min = {{ range2_min }}</li>
    <li>range2_max = {{ range2_max }}</li>
    <li>number_of_correct_answers = {{ number_of_correct_answers }}</li>
    <li>number_of_wrong_answers = {{ number_of_wrong_answers }}</li>
    <li>precision = {{ precision }}%</li>
{% endblock %}